.git
.gitignore
.env
.env.*
!.env.example

**/node_modules
**/.next
**/__pycache__
**/*.pyc
**/.venv
**/venv

manex-base
video
rag/qdrant_storage
portal/links.db
frontend/public/agent_state.json

.DS_Store
.vscode
.idea
*.log
