.env
.env.local
qdrant_storage/
node_modules/
.next/
frontend/*
!frontend/app/
!frontend/components/
!frontend/public/
!frontend/.gitignore
!frontend/next-env.d.ts
!frontend/next.config.ts
!frontend/package.json
!frontend/package-lock.json
!frontend/postcss.config.mjs
!frontend/tsconfig.json
__pycache__/
*.pyc
